@define-color base      rgba(10, 16, 32, 0.88);
@define-color text      #dcebff;
@define-color muted     #8193ab;
@define-color deep-blue #4d6fb7;
@define-color ice-blue  #77b6e1;
@define-color neon-cyan #00e5ff;
@define-color warning   #f2c66d;
@define-color critical  #ff637f;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @text;
}

.modules-left,
.modules-center,
.modules-right {
  background: @base;
  border: 1px solid rgba(77, 111, 183, 0.24);
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.28);
}

#custom-launcher,
#workspaces,
#window,
#clock,
#tray,
#pulseaudio,
#network,
#bluetooth,
#cpu,
#memory,
#battery,
#custom-power {
  padding: 0 11px;
  margin: 4px 2px;
  border-radius: 11px;
}

#custom-launcher {
  font-size: 17px;
  min-width: 28px;
  padding-left: 10px;
  padding-right: 8px;
  background-image: url("./assets/nixos-logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#workspaces button {
  color: @muted;
  padding: 0 5px;
  transition: all 180ms ease;
}

#workspaces button.active {
  color: @ice-blue;
}

#workspaces button.urgent {
  color: @critical;
}

#window {
  color: @muted;
}

#clock {
  color: @neon-cyan;
  font-weight: 700;
}

#pulseaudio {
  color: @ice-blue;
}

#network {
  color: @neon-cyan;
}

#bluetooth {
  color: @deep-blue;
}

#battery.charging,
#battery.plugged {
  color: @neon-cyan;
}

#battery.warning:not(.charging) {
  color: @warning;
}

#battery.critical:not(.charging) {
  color: @critical;
}

#custom-power {
  color: @critical;
  padding-left: 12px;
  padding-right: 13px;
}

tooltip {
  background: #111a2e;
  border: 1px solid rgba(77, 111, 183, 0.4);
  border-radius: 12px;
}

tooltip label {
  color: @text;
  padding: 6px;
}
