configuration {
    modi: "drun,run,window";
    show-icons: true;
    display-drun: "apps";
    display-run: "run";
    display-window: "windows";
    drun-display-format: "<span foreground='#dcebff'>{name}</span>  <span foreground='#8193ab' size='small'>{generic}</span>";
    font: "JetBrainsMono Nerd Font 12";
    icon-theme: "Papirus-Dark";
    terminal: "kitty";
    matching: "fuzzy";
    sort: true;
}

@theme "theme"
